body {
    background-color: black;
}

h1 {
    color:grey;
    font-family: verdana;
}

.maindiv {
    font-family: verdana;
    margin: auto;
    background-color: white;
    font-color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
}

.inner-text {
    margin-left: 100px;
}

.footer {
    text-align: left;    
}
